.message__content-2 {
    display: flex;
    align-items: center;
}

.message__text-2 {
    background: #C4BFFF;
    border-radius: 15px 15px 15px 0px;
    padding: 5px 5px 5px 10px;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.img-2 {
    max-width: 200px;
    width: 100%;
    border-radius: 15px 15px 15px 0px;
}

.img__content-2 {
    background: #C4BFFF;
    border-radius: 15px 15px 15px 0px;
    max-width: 200px;
    width: 100%;
    padding: 2px;

}

.img__items-2 {
    display: flex;
    align-items: center;
    column-gap: 7px;
    margin: 10px;
}

.img__coment-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 5px;
}